@page
@model Test_1.Pages.LinksPageModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Найденные ссылки</title>

    <link href="~/css/linkPage.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3 class="found-links-title">🎵 Найденные ссылки</h3>

        <div class="links">
            @foreach (var song in Model.Songs)
            {
                <div class="song-item">
                    <a href="@song.dowloadLink" class="song-link" target="_blank">
                        @song.artist - @song.songName
                    </a>
                    <a class="download-btn" download>
                        @song.sourseSite
                    </a>
                </div>
            }
        </div>

        <div class="actions">
            <a href="/" class="btn btn-back">← Назад</a>

            <form method="get" action="/ZipPage" style="margin: 0;">
                <button type="submit" class="btn btn-download">📦 Скачать ZIP</button>
            </form>
        </div>
    </div>
</body>
</html>